<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
    <php>
        <env name="APP_KEY" value="base64:gsANm1zTLlc1/rJdQAW1L24bgNJ9DWl5r4ZntTiUhd4="/>
        <env name="APP_SECRET" value="EL@l8yYkRvdO(t=pU#-TWjFZQ)D9Bo"/>
        <env name="APP_DEBUG" value="true"/>
    </php>
</phpunit>